@use "colors";

.bot-small,
.bot-big {
   display: flex;
   user-select: none;
   position: relative;
   transition: all linear 0.1s;

   h1 {
      font-size: x-large;
      min-width: 130px;
   }

   &.online::after,
   &.offline::after {
      content: "";
      display: block;
      border-radius: 50%;
      border: 2px solid white;
      position: absolute;
   }

   &.online::after {
      background-color: colors.$green;
   }
   &.offline::after {
      background-color: gray;
   }
}

.bot-small {
   width: 100%;
   padding: 0.5em;
   border-radius: 1em;
   margin: 0.5em;
   cursor: pointer;

   &:hover {
      background: rgba(0, 0, 0, 0.515);
   }

   &.online::after,
   &.offline::after {
      width: 1.1em;
      height: 1.1em;
      bottom: 5px;
      right: 150px;
   }
}

.bot-big {
   width: fit-content;
   h1 {
      font-size: xx-large;
      min-width: 130px;
   }

   * {
      margin: 0 1em;
   }

   &.online::after,
   &.offline::after {
      width: 1.4em;
      height: 1.4em;
      bottom: 0px;
      right: 255px;
   }
}
